@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --darkGrey: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --veryDarkGrey: hsl(0, 0%, 27%);
}

body {
  font-size: 12px;
  font-family: "Spartan", sans-serif;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.background-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.no-scroll .background-overlay {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
}

.header__logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1.6rem;
  z-index: 10;
}

.nav--active {
  background-color: var(--white);
}

.nav__toggle {
  padding: 0.1rem;
  border: none;
  background: none;
  color: var(--white);
  cursor: pointer;
}

.nav__toggle-icon {
  display: block;
}

.nav__list {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: lowercase;
}

.nav--active .nav__list {
  display: flex;
}

.nav__link {
  position: relative;
  margin: 0 1rem;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: white;
  transition: 0.1s linear;
}

.nav__link:hover::after {
  left: 0;
  width: 100%;
}

.nav__item:last-of-type .nav__link {
  margin-right: 0;
}

.image-slider__image {
  height: 100%;
}

.image-slider__image,
.slide {
  display: none;
}

.image-slider__image,
.about__image {
  width: 100%;
}

.image-slider__image--active,
.slide--active {
  display: block;
}

.slider-nav {
  position: absolute;
  top: -55px;
  right: 0;
  display: flex;
}

.slider-nav__button {
  display: block;
  padding: 1rem 1.2rem;
  border: none;
  background-color: var(--black);
  cursor: pointer;
}

.slider-nav__button:hover {
  background-color: var(--veryDarkGrey);
}

.slider-nav__icon {
  width: 80%;
}

.text-slider {
  position: relative;
  padding: 4rem 1.6rem;
}

.slide__title {
  margin-bottom: 1rem;
  font-size: 2.2em;
}

.slide__description {
  margin-bottom: 3rem;
  color: var(--darkGrey);
  line-height: 1.6;
}

.slide__link {
  color: var(--black);
  font-weight: 600;
  letter-spacing: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

.slide__link:hover {
  color: var(--darkGrey);
}

.slide__link-arrow {
  margin-left: 1rem;
}

.about__text {
  padding: 3rem 1.6rem;
}

.about__title {
  margin-bottom: 0.75rem;
  font-size: 1em;
  letter-spacing: 0.475em;
  text-transform: uppercase;
}

.about__description {
  color: var(--darkGrey);
  line-height: 1.6;
}

@media (min-width: 900px) {
  .header {
    padding: 2rem 4rem;
  }

  .header__logo {
    position: relative;
  }

  .nav {
    padding: 2rem;
    margin-left: 0.5rem;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
  }

  .nav__link {
    margin: 0 1rem;
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
  }

  .sliders-container {
    display: flex;
    height: 65vh;
    min-height: 35rem;
  }

  .image-slider {
    width: auto;
    min-height: 65vh;
    flex: 2;
    max-width: 1000px;
    overflow: hidden;
  }

  .image-slider__image {
    min-height: 65vh;
    object-fit: cover;
  }

  .slider-nav {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    display: flex;
  }

  .slider-nav__button {
    padding: 1.75rem 2rem;
  }

  .slider-nav__image {
    width: 100%;
  }

  .text-slider {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    flex: 1;
  }

  .slide__title {
    margin-bottom: 1rem;
    font-size: 2.2em;
  }

  .slide__description {
    margin-bottom: 3rem;
    color: var(--darkGrey);
    line-height: 1.6;
  }

  .slide__link {
    color: var(--black);
    font-weight: 600;
    letter-spacing: 1em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .slide__link-arrow {
    margin-left: 1rem;
  }

  .about {
    display: flex;
    height: 35vh;
    min-height: 15rem;
  }

  .about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    flex: 1 1 770px;
  }

  .about__image {
    min-width: 0;
    flex: 1 3 auto;
    object-fit: cover;
  }
}

@media (min-width: 1350px) {
  .text-slider {
    padding: 8rem 6rem;
  }

  .slide__title {
    font-size: 3em;
  }
}
