@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --darkGrey: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --veryDarkGrey: hsl(0, 0%, 27%);
}

body {
  font-size: 12px;
  font-family: "Spartan", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
}

.header__logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1.6rem;
  z-index: 10;
}

.nav--active {
  background-color: var(--white);
}

.nav__toggle {
  padding: 0.1rem;
  border: none;
  background: none;
  color: var(--white);
  cursor: pointer;
}

.nav__toggle-icon {
  display: block;
}

.nav__list {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: lowercase;
}

.nav--active .nav__list {
  display: flex;
}

.nav__link {
  margin: 0 1rem;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

.nav__item:last-of-type .nav__link {
  margin-right: 0;
}

.image-slider__image,
.slide {
  display: none;
}

.image-slider__image,
.about__image {
  width: 100%;
}

.image-slider__image--active,
.slide--active {
  display: block;
}

.text-slider {
  padding: 4rem 1.6rem;
}

.slide__title {
  margin-bottom: 1rem;
  font-size: 2.2em;
}

.slide__description {
  margin-bottom: 3rem;
  color: var(--darkGrey);
  line-height: 1.6;
}

.slide__link {
  color: var(--black);
  font-weight: 600;
  letter-spacing: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

.slide__link-arrow {
  margin-left: 1rem;
}

.about__text {
  padding: 3rem 1.6rem;
}

.about__title {
  margin-bottom: 0.75rem;
  font-size: 1em;
  letter-spacing: 0.475em;
  text-transform: uppercase;
}

.about__description {
  color: var(--darkGrey);
  line-height: 1.6;
}
